<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Your Pattern</title>
   
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link href="/styles/login.css" rel="stylesheet" type="text/css" media="all" /> 
    
    <style>
      .img-dim{
        height: 150px;
        width: 150px;
        margin: 10px;
      }
      .img-div{
        width: 20%;
      }
      .row-style{
        width: 70%;
      }
      .col-style{
        padding: 5px;
      }
   
    </style>
  </head>
  <body>
    <h1>Image Grid Example</h1>
    <div class="container h-100 d-flex align-items-center justify-content-center">
      <div class="row justify-content-md-center row-style">
        <% items.forEach(function(element) { %>
        <div class="col-3 img-div">
          <div class="col-style">
            <img src="data:image/<%=element.image.contentType%>;base64,<%=element.image.data.toString('base64')%>" class="img-fluid img-dim m-2" data-image-id="<%=element._id%>">
          </div>
        </div>
        <% }); %>
      </div>
      
    </div>
    <form action="/api/user/setpassword/" method="post">
      <input type="hidden" name="imageIds" id="imageIdsInput">
      <input type="hidden" name="userId" id = "userId" data-user-id="<%= userId %>">
      <button type="submit" class="button button-block" onclick="passData()">Submit</button>
    </form>
    <!-- Include Bootstrap JS -->
    <script>
      // Get all elements with the class name "example"
      const imageIds = [];

// Get all image elements
const images = document.querySelectorAll('.img-div img');

// Add a click event listener to each image element
images.forEach(image => {
  image.addEventListener('click', () => {
    // Get the image ID from the data attribute
    const imageId = image.dataset.imageId;
    
    // Add the image ID to the array
    imageIds.push(imageId);
    mage.classList.add("selected");
    // Do something with the image IDs
    console.log(imageIds);
  });
});

function passData(){
    const imageIdsInput = document.getElementById('imageIdsInput');
  imageIdsInput.value = JSON.stringify(imageIds);
  const userIdInput = document.getElementById('userId');
  userIdInput.value = JSON.stringify(userIdInput.dataset.userId)
  console.log(userIdInput.value)
  
}


    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
