<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>G-PAS</title>

  <!-- Font Awesomt links -->
  <script src="https://kit.fontawesome.com/a168c4334b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <!-- CSS LINK -->
  <link rel="stylesheet" href="/styles/style.css">


</head>

<body>
  <header id="#top">
    <a href="#" class="logo">G-PAS</a>
    <nav class="navbar">
      <div class="btn">
        <i class="fas fa-times close-btn"></i>
      </div>
      <a href="#home" class="active ">Home</a>
      <a href="#about-us">About Us</a>
      <a href="#contact-us">Contact Us</a>
      <a href="/api/user/register">Sign Up</a>
      <a href="/api/user/login">Login</a>
    </nav>
    <div class="btn">
      <i class="fas fa-bars menu-btn"></i>
    </div>
  </header>
  <section id="home">
    <h2>Graphical Password Authentication System (G-PAS)</h2>
  </section>
  <!-- Descripition -->
  <div class="description">
    <p>Web Based Graphical Password Authentication System is a web based application that can be used in any system to
      allow users to sign up and log in using a different model other than the static passwords.</p>
      <p>Passwords are ubiquitous today on any platform, on possibly any website. But
        to remember so difficult passwords and that too on numerous websites seems daunting and
        therefore you can devise a project illustrating graphical password strategy. This will allow the user to set passwords in the form of graphical presentation in a certain pattern and later use 
        that pattern to login to the system. </p> 
        <!-- <p> Remembering numerous passwords from
        various different sites can be difficult for a user. So to provide some flexibility we can
        provide users a graphical password authentication system where instead of creating a
        password a user has to select graphical objects in a particular order to keep it as their
        password. Objective: : In this method, the user is required to select some images (let’s say
        different chocolates) in a specific pattern (for example dairy milk is followed by 5 stars which
        is in turn followed by KitKat and so on). Next time the user tries to log in, the images would
        have been shuffled, but the user will be required to follow the same pattern which was used
        initially. Every time the user will have to use the same sequence while the images are placed
        in different ways. This type of authentication is difficult to break since neither brute force nor
        dictionary attacks could breach it. We need techniques that can be easily implemented and
        provide better results to this process</p> -->
  </div> 
  
 <!-- About Us -->
 <div class="container">
 <div class="about-us contact_data" id="about-us" >
  <h2>About Us</h2>
  <ul>
    <li>Abdul Rehman - Developer</li>
    <li>Abhishek Sharma - Developer</li>
    <li>Alokit Sharma - Developer</li>
    <li>Ankita Arya - Developer</li>
  </ul>
  <!-- <a href="#top"><i class="fa-solid fa-arrow-up" id="up"></i></a>
 <a href="#lp"> <i class="fa-solid fa-arrow-down" id="down"></i></a> -->
  </div>
</div>
  <!-- Contact Us -->
  <div class="container " id="contact-us">
    <div class="contact_data2">
      <ul>
        <li>
          <i class="fa-solid fa-location-dot"></i>
          <strong>Location:</strong>
          <p>302C Rajendra Nagar, Indore, 452012</p>
        </li>
        <li>
          <i class="fa-solid fa-envelope"></i>
          <strong>Email:</strong>
          <p>info@example.com</p>
        </li>
        <li>
          <i class="fa-solid fa-envelope"></i>
          <strong>Call:</strong>
          <p>+91 62324355545</p>
        </li>
      </ul>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sbg!4v1666857692914!5m2!1sen!2sbg"
          width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="contact_data" id="lp">
      <h2>Contact Us</h2>
      <form action="#">
        <label for="">Name</label>
        <input type="text" />
        <label for="">Email</label>
        <input type="email" />
        <label for="">Subject</label>
        <input type="text" />
        <label for="">Message</label>
        <textarea name="" id="" cols="30" rows="05"></textarea>
        <button>Send Message</button>
      </form>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>

</html>