<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Graphical Password Authentication System</title>

<!-- CSS File-->
<link href="/styles/login.css" rel="stylesheet" type="text/css" media="all" /> 
<!-- JS Files-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

</head>
<body>
	<!-- main -->
	<div class="main-agileits">
		<h1>Graphical Password Authentication System - Login</h1>
		<!-- form -->
		<div class="mainw3-agileinfo form" style="margin-left:100px; float:left;">
			<div id="login">    
				<form method="post" action="/api/user/login"> 
					<div class="field-wrap">
						<label>Email <span class="req">*</span> </label>
						<input type="email" name="email" min=1 max=120 required>
					</div>
					<p class="forgot"><a href="/forgetpassword">Forgot Password?</a></p>
					<center><button type="submit" id="getimage" class="button button-block" formaction="">Get Image</button></center>
					<!--<button class="button button-block"/>Sign Up</button>-->
				</form>
				<span style="color:white;">Not a member?</span>
				<button id="getimage" class="button button-block" ><a href="/api/user/register"> SIGN UP</a></button>
			</div>         
		</div>
		<!-- //form -->
		<!-- image -->
		<div class = "img" style="float:left; padding: 150px 150px 80px 150px; width: 33%;">
			<img id="blah" src="/images/logo.png" alt="" height=400 width=500 />
		</div>
		<!-- //image -->
	</div>
	<!-- //main -->

	
	<!-- JS -->
	<script>
	$('.form').find('input, textarea').on('keyup blur focus', function (e) { 
	  var $this = $(this),
		  label = $this.prev('label');

		  if (e.type === 'keyup') {
				if ($this.val() === '') {
			  label.removeClass('active highlight');
			} else {
			  label.addClass('active highlight');
			}
		} else if (e.type === 'blur') {
			if( $this.val() === '' ) {
				label.removeClass('active highlight'); 
				} else {
				label.removeClass('highlight');   
				}   
		} else if (e.type === 'focus') {
		  
		  if( $this.val() === '' ) {
				label.removeClass('highlight'); 
				} 
		  else if( $this.val() !== '' ) {
				label.addClass('highlight');
				}
		}
 
	}); 
	</script>
	
	<script>
		function readURL(input){
			if (input.files && input.files[0]){
				var reader = new FileReader();            
				reader.onload = function (e){
					$('#blah').attr('src', e.target.result);
				}            
				reader.readAsDataURL(input.files[0]);
			}
		}

		$("#img").change(function(){
			readURL(this);
		});
		
		var setHeight = $(".mainw3-agileinfo form").height();
		$(".img").height(setHeight);
	</script>
	<!-- //JS -->
	
</body>
</html>